body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

/* -------------------------- */
/* BEGIN STYLING FOR 'NavBar' */
.navbar-box{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  border-bottom: 4px solid black;
  background-color: lightgreen;
}

.navbar-left {
  background-color: lightpink;
}

.navbar-right {
  background-color: lightskyblue;
  display: flex;
}

/* END STYLING FOR 'NavBar' */
/* ------------------------ */



/* ------------------------------- */
/* BEGIN STYLING FOR 'Student Form */


/* END STYLING FOR 'Student Form */
/* ----------------------------- */




/* ------------------------------ */
/* BEGIN STYLING FOR 'studentRow' */
.student-row-box {
  display: flex;
  padding: 5px;
  border: 2px solid darkblue;
}

.student-row-picture-box{
  background-color: lightcoral;
}

/* END STYLING FOR 'studentRow' */
/* ---------------------------- */

.student-row-image {
  border: 4px black solid;
  height: 100px;
  /* max-width: 100px; */
}
